{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Connexion
{% endblock %}

{% block body %}
<form method="post">

    <h1 class="is-size-1 has-text-centered py-5">Connexion</h1>

        <div class="content">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">

                    <div class="field">
                        <label class="label" for="inputMail">Adresse mail :</label>
                        <input class="input" type="text" value="{{ last_username }}" name="mail" id="inputMail" autocomplete="username" required autofocus>
                    </div>

                    <div class="field">
                        <label class="label" for="inputPassword">Mot de passe :</label>
                        <input class="input" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="columns">
                        <div class="column">
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                </label>
                            </div>
                        </div>

                        <div class="column is-offset-8">
                            <div>
                                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </div>

                    <div class="has-text-centered">
                        <button class="btn btn-lg btn-primary button is-info" type="submit">
                            Se connecter
                        </button>
                    </div>
                </div>
            </div>
        </div>
</form>
{% endblock %}
