{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier un site
{% endblock %}

{% block body %}

    <h1 class="is-size-1 has-text-centered py-5">Modifier un site</h1>

    <div class="content">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">

                {{ form_start(siteForm) }}

                <div class="field">
                    <label class="label">Nom du site</label>
                    <div class="control">
                        {{ form_widget(siteForm.name, {'attr': {'class': 'input'}}) }}
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-info">Modifier</button>
                </div>

                {{ form_end(siteForm) }}

            </div>
        </div>
    </div>


{% endblock %}