{% extends 'party/gestion.html.twig' %}

{% block title %}
    {{ parent() }} | Edit activity
{% endblock %}

{% block bodyTitle %}
    <h1 class="is-size-1 has-text-centered my-5">Modifier une sortie</h1>
{% endblock %}