<footer class="footer mt-5" style="background: #e8f4f8;padding: 2rem">
        <div class="content has-text-centered">
                <p>&copy;&nbsp;Sortir.com&nbsp;|&nbsp;{{ "now" | date('Y') }}</p>
        </div>
</footer>