{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profile
{% endblock %}

{% block body %}

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">

            {{ form_start(participantForm) }}

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    {{ form_widget('email', {'attr': {'class': 'input'}}) }}
                </div>
            </div>

            {{ form_end(participantForm) }}

        </div>
    </div>

{% endblock %}